body{
  background-color: #F4F4F5;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  filter: drop-shadow(0px 5px 2px black);
}

section{
  padding: 5%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
  
}

.quizSection{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  width: 100%;
  height: 300px;
  margin: 10px;
  padding: 30px;
  background-color: white;
  border: 1px solid black; 
  filter: drop-shadow(0px 0px 3px black);

}

.quizSlide{
  display: flex; 
  width: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.quizTitle{
  font-size: 35px;
  flex-grow: 1;
}

.quizQuestion{
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.quizAnswers{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  flex-grow: 1;
}

.quizInfo{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

button{
  color: white;
  background-color: red;
  font-size: 20px;
  display: flex;
  filter: drop-shadow(0px 0px 1px grey);
  cursor: pointer;
  margin: 5px;
}


button:hover{
  background-color: black;
}

input{
  color: white;
  background-color: red;
  font-size: 20px;
  display: flex;
  flex-grow: 1;
  filter: drop-shadow(0px 0px 1px grey);
  cursor: pointer;
  margin: 5px;
}

input:hover{
  background-color: black;
}

.startQuiz, .continueQuiz{
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  
}

.rightAnswer{
  background-color: blue;
  color: white;
}

.wrongAnswer{
  background-color: black;
  color: white;
}

@media screen and (max-width: 400px){
  h3 {
    display: none;
  }
}

